function formatTime(date) {
    var year = date.getFullYear()
    var month = date.getMonth() + 1
    var day = date.getDate()

    var hour = date.getHours()
    var minute = date.getMinutes()
    var second = date.getSeconds()

    var time = {
        year: year,
        monthDay: [month, day].map(formatNumber).join('-'),
        hourMin: [hour, minute].map(formatNumber).join(':')
    }
    return time
}
function formatNumber(n) {
    n = n.toString()
    return n[1] ? n : '0' + n
}
var dateFormatStr = function (dateStr) {
  var today = formatTime(getDate())
  var date = formatTime(getDate(dateStr))
  var result = ''
  if(today.year==date.year && today.monthDay==date.monthDay) {
    result = '今天 '+date.hourMin
  } else if(today.year==date.year && today.monthDay!=date.monthDay){
    result = date.monthDay + ' '+date.hourMin
  } else {
    result = date.year + '-' + date.monthDay + ' ' +date.hourMin
  }
  return result
}
var dateFormatUnixTime = function (time) {
  var today = formatTime(getDate())
  var date = formatTime(getDate(parseInt(time) * 1000))
  var result = ''
  if(today.year==date.year && today.monthDay==date.monthDay) {
    result = '今天 '+date.hourMin
  } else if(today.year==date.year && today.monthDay!=date.monthDay){
    result = date.monthDay + ' '+date.hourMin
  } else {
    result = date.year + '-' + date.monthDay + ' ' +date.hourMin
  }
  return result
}
var moneyFormat = function (money) {
  return money.toFixed(2);
}

/*
 * 导出
 */
module.exports = {
  dateFormatStr: dateFormatStr,
  moneyFormat: moneyFormat
}
